{% extends 'template.html' %}
{% block titulo %} Lista De Libros {% endblock titulo %}
{% block contenido %} 
<a class="btn btn-primary" href="{% url 'crearLibro' %}">Agregar Libro</a>
<div class="card">
    <div class="card-header">
        Listar libros
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for libro in libros %} 
                    <tr class="">
                        <td scope="row">{{ libro.id }}</td>
                        <td>{{libro.titulo}}</td>
                        <td><img src="{{ libro.imagen.url }}" height="100"></td>
                        <td>{{libro.descripcion}}</td>
                        <td><a class="btn btn-success" href="{% url 'editarLibro' libro.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'eliminar' libro.id %}">Eliminar</a>
                        </td>
                            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% endblock contenido %}