{% extends 'template.html' %}
{% block titulo %} Inicio {% endblock titulo %}
{% block contenido %} 
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Bienvenidos al sitio web</h1>
      <p class="col-md-8 fs-4">empezar a ingresar libros</p>
      <hr class="my-2">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'libros' %}" role="button">Empezar</a>
      </p>
    </hr>
    </div>
  </div>
{% endblock contenido %}